streamlit
python-dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-classic
faiss-cpu
pypdf
sentence-transformers
uvicorn
fastapi
python-multipart>=0.0.9
pydantic>=2.7.0
