fastapi==0.111.1
uvicorn[standard]==0.23.2
python-dotenv==1.0.1
langchain==0.1.134
langchain-huggingface==0.0.19
langchain-community==0.0.55
faiss-cpu==1.7.4
PyPDF2==3.0.1
sentence-transformers==2.2.2
requests==2.31.0