# Core Framework
streamlit
fastapi
uvicorn[standard]

# LangChain & Dependencies
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-classic

# Document Loading & Vector Store
pypdf
faiss-cpu

# Embeddings
sentence-transformers

# Utilities
python-dotenv
python-multipart
pydantic>=2.7.0
